@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: rgb(255, 245, 245);
    font-family: 'Barlow', sans-serif;
}

:root {
    --PrimaryColor :#0d6efd;
}

/* Default code */

.formContainer {
    /* background-color: bisque; */
}

.registerForm {
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: auto;
    margin: 15px 40px;
}

.registerForm h3 {
    background-color: var(--PrimaryColor);
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.twoInput {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formGroup {
    width: 50%;
    position: relative;
    margin: 5px 10px;
}

.formGroup i {
    position: absolute;
    top: 10px;
    left: 10px;
}

.formGroup input {
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

.oneInput .formGroup {
    width: 98.5%;
    position: relative;
    margin: 5px 10px;
}

.oneInput .formGroupOne i {
    position: absolute;
    top: 10px;
    left: 10px;
}

.oneInput .formGroupOne input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    border: 1px solid gray;
}

#dropDown {
    width: 50%;
    position: relative;
    margin: 5px 10px;
    padding: 9px 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

#address {
    width: 50%;
    position: relative;
    margin: 5px 10px;
}

#address i {
    position: absolute;
    top: 10px;
    left: 10px;
}

#address textarea {
    width: 100%;
    padding: 10px 30px 40px;
    border-radius: 5px;
    border: 1px solid gray;
}

.formCheck {
    padding-left: 10px;
}

.formGroupReg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formGroupReg button {
    background-color: var(--PrimaryColor);
    color: #ffffff;
    width: 50%;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.formGroupReg p {
    margin: 20px;
}

.formGroupReg span {
    color: var(--PrimaryColor);
}